fastapi
uvicorn
python-dotenv
openai
langchain
langgraph
langchain-openai
langchain_community
langchain-cohere
qdrant-client
tavily-python
unstructured[csv]
tiktoken
ragas
datasets
pandas
nest-asyncio
langsmith